rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return get(/databases/$(database)/documents/employees/$(request.auth.uid)).data.accessLevel == 'Admin';
    }

    match /supplies/{supplyId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    
    match /tools/{toolId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    
    match /tools/{toolId}/calibration_history/{calibrationId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    
    match /kits/{kitId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    
    match /suppliers/{supplierId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    
    match /operation_records/{operationRecordId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    
    match /images/{imageId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    
    match /employees/{employeeId} {
      allow read: if isAuthenticated();
      // Allow user to edit their own data, or if the user is an admin
      allow write: if request.auth.uid == employeeId || isAdmin();
    }
    
    match /expenses/{expenseId} {
      // Allow any authenticated user to create, but only admin to modify/delete
      allow create: if isAuthenticated();
      allow read, update, delete: if isAdmin();
    }

    match /tool_requests/{requestId} {
      // Allow user to manage their own requests, or if the user is an admin
      allow read, write: if request.resource.data.requesterId == request.auth.uid || isAdmin();
    }

    match /counters/{counterId} {
        allow read, write: if isAdmin();
    }
  }
}
