rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite a leitura e escrita de todos os arquivos por qualquer usuário autenticado.
    // Isso é seguro para o nosso caso de uso de fotos de perfil, mas pode ser
    // refinado no futuro, se necessário.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
